:root { --cor-de-fundo: rgba(240,150,465,14); 
      --botao-inativo: rgba(240, 237, 56, 0.5);
       --texto-fundo: rgba(24, 5, 228, 0.3); }
       
    body { background-color:rgb(181, 247, 138);
         color: rgb(29, 65, 65);
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }




    .conteudo-principal { display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        }
        .titulo-principal { text-align: left;
            width: 100%;
            font-size: 32px;
            }
            .titulo-principal span {
                color: greenyellow; }

                .botao { font-family: 'Times New Roman', Times, serif;
                    background-color: rgb(99, 99, 255);
                    color: var(--branco); display: flex;
                    justify-content: center;
                    padding: 1em;
                    font-size: 18px;
                    align-items: center;
                    width: 100%;

                    border-bottom: 4px solid var(--botao-ativo); border-left: 2px solid var(--botao-ativo); border-right: 2px solid var(--botao-ativo);
border-top: none;
                    }